
<mat-toolbar color="primary">
    <span class="logo">H9 Consulting Inc</span>
    <nav class="navbar">
        <span class="nav-space"></span>
      <a routerLink="/about" class="nav-link">About</a>
      <!-- <a class="nav-link" (click)="openDialog()">About</a> -->

     
      <span class="nav-space"></span>
      <a routerLink="/contact" class="nav-link">Contact</a>
      <span class="nav-space"></span>
      <a routerLink="/courses" class="nav-link">Courses</a>
      <span class="nav-space"></span>
      <a routerLink="/careers" class="nav-link">Careers</a>
      <span class="nav-space" ></span>
      <a routerLink="/careers" class="nav-link">Events</a>
      <span class="nav-space"></span>
      
    </nav>
    
    <a href="https://www.linkedin.com/company/example" target="_blank" class="logo-link">
        <img src="assets/linkedin-logo.png" alt="LinkedIn Logo" class="linkedin-logo">
      </a>
    <span class="nav-space"></span>

    <a href="https://www.instagram.com/your-instagram-profile" target="_blank" class="logo-link">
        <img src="assets/instagram-logo.png" alt="Instagram Logo" class="instagram-logo">
      </a>
      <span class="nav-space"></span>

      <a href="https://twitter.com/your-twitter-profile" target="_blank" class="logo-link">
        <img src="assets/twitter-logo.png" alt="Twitter Logo" class="twitter-logotwitter-logo">
      </a>
      <span class="nav-space"></span>
      <span class="email">service@h9consulting.com</span>
      <span class="nav-space"></span>
    <button mat-button class="enroll-button">Enroll</button>
  </mat-toolbar>

  <div class="container">
    <div class="block">
        <ul class="vertical-bars">
            <li class="vertical-bar"  (click)="handleClick('Achievements')">Achivements</li>
            <li class="vertical-bar"  (click)="handleClick('Photo Gallery')">Photo Gallery</li>
            <li class="vertical-bar"  (click)="handleClick('Innovations')">Innovations</li>
            <li class="vertical-bar"  (click)="handleClick('Techenical Competitions')"> Techenical Competitions </li>
            <li class="vertical-bar"  (click)="handleClick('Recrutors')">Recruiters</li>
          </ul>
    </div>
    <div class="block">
        <img src="assets/homeimage.jpg" alt="Image" class="block-image">
    </div>
    <div class="block">
        <div class="miblock">1
            <br>
            <img src="assets/itconsulting.jpg" alt="Image1" class="block-image1">
            <br>
            <div style="margin-left: 120px; color: rgb(0, 98, 255);font-size: 35px">
                <p style="text-align: left;">IT Consulting</p>
              </div>
              

        </div>
        <div class="miblock">2
            
            <img src="assets/business.jpg" alt="Image2" class="block-image2">
            <br>
            <div style="margin-left: 90px; color: rgb(0, 98, 255);font-size: 35px">
                <p style="text-align: left;">Business Consulting</p>
              </div>
        </div>
        <div class="miblock">3
            <img src="assets/cloud.jpg" alt="Image3" class="block-image3">
            <br>
            <div style="margin-left: 90px; color: rgb(0, 98, 255);font-size: 35px">
                <p style="text-align: left;">Business Consulting</p>
              </div>
        </div>
    </div>
  </div>
  

  

  
    

  

